
<h1>Login</h1>

<form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Email
      <input type="email" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Create account</button>
</form>

{{#if errorMessage}}
  <p>{{errorMessage}}</p> 
{{/if}}