<div class="home">

  <img src="/images/logo.png" class="logo1" alt="">
  <p>Welcome to your favourite travel log</p>

  <div class="form-group home2">
    <a href="/signup" class="btn login_btn">Signup</a>
    <a href="/login" class="btn login_btn">Login</a>

  </div>
</div>