<div class="home">

  <h1>mytraveLog</h1>
  <p>Welcome to your favourite travel log</p>

  <div class="form-group home2">
    <a href="/signup" class="btn login_btn">Signup</a>
    <a href="/login" class="btn login_btn">Login</a>

  </div>
</div>