<div class="home">

  <h1 class="phrase-logo"> <b>  mytraveLog </b></h1>
  <h3><b> Live for the moments you can't put into words</b></h3>

  <div class="form-group home2 mt-4">
    <a href="/signup" class="btn login_btn">Signup</a>
    <a href="/login" class="btn login_btn">Login</a>

  </div>
</div>