.container-create {
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.wrapper-form {
    width: 700px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 25px 70px rgba(0, 0, 0, .05);
    overflow: hidden;
}

h1.title {
    padding: 15px 0;
    margin-left: 25px;
    font-weight: normal;
    
}

.form1 {
    width: 700px;
}

.myform {
    background: #F4F5F7;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    border: solid;
}

.myform label {
    display: block;
    color: black;
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: 10px;
}

.myform input {
    border: 0;
    outline: 0;
    height: 50px;
    background: #FFF;
    width: 100%;
    border-radius: 5px;
   
   
    font-size: .9rem;
    text-indent: 15px;
    
   
}

.full-width {
    grid-column: -1 / 1
}

.create_btn {
    color: black;
    background-color: #ffc312;
    width: 130px;
    height: 50px;
}
  
.create_btn:hover {
    color: black;
    background-color: white;
  }

  .create_btn1 {
    color: black;
    background-color: #ffc312;
    width: 130px;
    height: 50px;
   
}
  
.create_btn1:hover {
    color: black;
    background-color: white;
  }

  #month {
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;   
    border: 0;
    outline: 0;
    height: 50px;
    background: #FFF;
    width: 100%;
    border-radius: 5px;
   
   
    font-size: .9rem;
    text-indent: 15px;
  }

  #country {
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;   
    border: 0;
    outline: 0;
    height: 50px;
    background: #FFF;
    width: 100%;
    border-radius: 5px;
   
   
    font-size: .9rem;
    text-indent: 15px;
  }

  .create_btn3 {
    color: black;
    background-color: #ffc312;
    width: 100px;
    height: 40px;
}
  
.create_btn3:hover {
    color: black;
    background-color: white;
  }