.cards-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .flag{
      width: 10%;
      height: 10%;

  }
  .card-size {
    height: 18rem;
  }
  .description-size{
height: 5rem;
  }



  .custumnav{
      background-color: #083d77;
  }
  .custumnav a{
      color:white;
  }

  .titleText{
 text-align: center;
 width:500px;
 border-bottom: 5px solid #ffc312;
 padding-bottom: 2rem;
 padding-top: 1.4rem;
 font-size: 50px;
  }


  .mainAlbum{
      display:flex ;
      align-items: center;
      flex-direction: column;
  }


.buttons-fix{
    display: flex;
    justify-content: space-around;

}
.btn-edit{
    width:11rem;
}
