.cards-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .flag{
      width: 10%;
      height: 10%;

  }
  .card-size {
    height: 18rem;
  }
  .description-size{
height: 5rem;
  }

  .delete-btn{

      background-color:rgb(249, 115, 115);
      padding: 0.5rem;
      border: none;
      border-radius: 8px;
      opacity: 0.6;
  transition: 0.3s;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  width:20%;
  }

  .delete-btn:hover {opacity: 1}

  .delete-button{
      display: flex;
      justify-content:flex-end;
      align-items:center;
      margin-top:0.3rem;
  }
 

  .custumnav{
      background-color: #083d77;
  }
  .custumnav a{
      color:white;
  }

  .titleText{
 text-align: center;
 width:500px;
 border-bottom: 5px solid #ffc312;
 padding-bottom: 1rem;
  }


  .mainAlbum{
      display:flex ;
      align-items: center;
      flex-direction: column;
  }
