       .container-profile{
        height: 100vh;
       }

       .img-fluid {
        opacity: 0.7;
    }

       .card-profile{

        width: 380px;
        border: none;
        border-radius: 15px;
        padding: 8px;
        border: solid;
        position: relative;
        height: 370px;
       }

       .upper{

        height: 100px;

       }

       .upper img{

        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

       }

       .user{
        position: relative;
       }

       .profile img{

        
        height: 130px;
        width: 130px;
        margin: -50px;

       
       }

       .profile{

        position: absolute;
        top:-50px;
        left: 38%;
        height: 90px;
        width: 90px;
        

        

       }

       .follow{

        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        height: 35px;
        margin-top: 10px;
       }

       .btn-sm {
        color: black;
        background-color: #ffc312;
        width: 100px;
       }

       .mail {
           font-size: 1.1rem;
           font-weight: 500;
       }

       .rounded-circle {
        border-radius: 10%;
       }
       
      
     
