.card-deck{
    display: flex;
    flex-wrap: wrap;
  margin-bottom: 1.5rem;
    width: 40rem;
}

.main-album{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
/* 
.album-form{
    display: flex;
    flex-direction: column;
} */
.form-and-btn{
    display: flex;
    flex-direction: column;
}

.album-btn {
    display: flex;
    justify-content: end;
    margin-right: 4rem;
}

.create_btn4 {
    color: black;
    background-color: #ffc312;
    width: 150px;
    height: 60px;
   
}
  
.create_btn4:hover {
    color: black;
    background-color: white;
  }

  .create_btn5 {
    color: black;
    border: 2px solid #ffc312;
    width: 80px;
    height: 60px;
   
}
  
.create_btn5:hover {
    color: black;
    background-color: white;
  }

.delete-button{
    display: flex;
justify-content: flex-end;
}