<h2>Update profile</h2>

<form
  action="/profile/{{_id}}/edit"
  method="post"
  enctype="multipart/form-data"
>

  <label for="username">Username</label>
  <input type="text" name="username" id="username" value="{{username}}" />

  <label for="image">Image</label>
  <input type="file" name="existingImage" id="image" value="{{imageUrl}}"/>

  <button type="submit">Update</button>

</form>
<a href="/profile">Profile</a>

