<h2>Your profile</h2>

{{#if user}}

  <p>Welcome {{user.username}}</p>
  <p> Email  {{user.email}}</p>
  <img src={{user.imageUrl}} alt='photo' />


  <a href='/profile'>Reload</a>


 
  <a href='/profile/{{user._id}}/edit'>Edit</a>

{{/if}}