<h2>Update profile</h2>

<form action='/profile/{{_id}}/edit' method='post' enctype="multipart/form-data">

  <label for='username'>Username</label>
  <input type='text' name='username' id='username' value='{{username}}' />

 <label for='image'>Image</label>
        <input type='file' name='profile-image' id='image' />

  <button type='submit'>Update</button>

</form>